@model IEnumerable<simple_cms.Models.Page>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PagePosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageVisible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageContent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PagePosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageVisible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageContent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PageId })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to Subjects", "Index", "Subject")
